.tableMargin{
    margin:12px;
}

.addCategoryLbl{
    text-align: center;
    cursor: pointer;
    
}

.saveCancelLbl{
    text-align: right;
    cursor: pointer;
}

.underline{
    text-decoration: underline;
}

.selected{
    background: #e3e3ff;
}


