.max-w{
    max-width: 800px;
    margin-top:20px;
}

.max-w-d{
    max-width: 200px;  
}

.divider{
    border-top: 1px solid #dadada;
    margin-top: 10px;
    margin-bottom: 10px;
}

.min-h{
    min-height: 50px;
}