.tableMargin{
    margin:12px;
}

.table-header{
    background: #2f6cc5;
    color: white;
    border-radius: 0px;
}

.new-order{
    background: #f3ffa9;
}

.complete-order{
    background: #b7f7bf; 
}

.addInfoTable{
    margin-left: -12px;
    margin-right: -12px;
    border-radius: 0px;
}